.hexagon {
  width: 100%;
  padding-bottom: 115%; /* Maintain aspect ratio */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .hexagon-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .hexagon-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 25px;
  }
}

.pydp-logo {
  max-width: 300px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .pydp-section {
    flex-direction: column;
  }

  .pydp-logo {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 250px;
  }
}

